.app-header {
    background-color: #1a1a20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    box-shadow: 8px 0 24px rgba(0, 0, 0, 0.35);
}

.user-profile {
    background-color: transparent;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.avatar {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border: 1px solid white;
    border-radius: 20px;
}

.username {
    margin-left: 4px;
    background-color: transparent;
    color: white;
    font-size: 14px;
}

.modal-overlay-account {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-login, .modal-register {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    width: 300px;
    height: 400px;
    background-color: #1a1a20;
    border-radius: 10px;
    box-shadow: 8px 0 24px rgba(0, 0, 0, 0.35);
}

.logo-web {
    /* display: none; */
    position: relative;
    height: 70px;
    width: 70px;
    border-radius: 15px;;
    top: 0; right: 0; bottom: 0; left: 0;
    /* margin: auto; */
}

.header-nav {
    background-color: #1a1a20;
    display: flex;
    justify-self: end;
    list-style: none;
    gap: 32px;
    padding: 10px;
}

.nav-item {
    position: flex;
    color: white;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-content: center;
}

.nav-item svg {
    background-color: #1a1a20;
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #8a8d91;
    stroke-width: 1.8;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: all 0.2s ease;
}

.nav-item:hover svg {
    stroke: white;
    transform: scale(1.1);
}